/* font-family: 'Amatic SC', cursive;
font-family: 'Cookie', cursive;
font-family: 'Cormorant', serif;
font-family: 'Edu TAS Beginner', cursive; */

:root{
    --font1:'Amatic SC', cursive;
    --font2:'Cookie', cursive;
    --font3:'Edu TAS Beginner', cursive;
}

body {
    margin:0;
    width:100%;
    background-image: linear-gradient(to top right,#F5A4A4,#F71D1D);
}

#logo{
    text-align: center;
    padding: 5px 0;
    font-family: 'Cormorant', serif;
    color:white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    font-size:36px;
    margin:20px 2%;
}

#inputbar{
    display:flex;
    justify-content: center;
}

#userinput{
    text-align: center;
    width:60%;
    height: 30px;
    border-radius: 25px;
    border: none;
}

#userinput::placeholder{
    color:#F71D1D;
}

#enter {
    border:none;
    color:#F71D1D;
    background-color: white;
    border-radius: 25px ;
    margin: auto 10px;
    padding:6px 10px;
}

.delbut{
    border:none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size:8px;
}

#enter:hover{
    cursor:pointer;
    color:white;
    background-color: #f3a7a7;
}

#container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul li{
    list-style-type: none;
    font-family: var(--font2);
    font-size: 26px;
    color:white;
    padding: 10px;
}

ul li:nth-child(2n+0) {
    font-family: var(--font1);
    font-size: 30px;
    padding-left: 100px;
  }

ul li:nth-child(3n+0) {
    font-family: var(--font3);
    font-size: 34px;
    padding-left: 150px;
  }

ul li:nth-child(4n+0) {
    font-family: var(--font1);
    font-size: 34px;
    padding-left: 200px;
  }

footer {
    margin-top: 400px;
}

h3{
    margin: 10px 2%;
    padding: 3px 0;
    text-align: center;
    font-family: 'Cormorant', serif;
    color:white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}