/* font-family: 'Amatic SC', cursive;
font-family: 'Cookie', cursive;
font-family: 'Cormorant', serif;
font-family: 'Edu TAS Beginner', cursive; */

:root{
    --font1:'Amatic SC', cursive;
    --font2:'Cookie', cursive;
    --font3:'Amatic SC', cursive;
}

body {
    margin:0;
    width:100%;
    background-image: linear-gradient(to top right,#F5A4A4,#F71D1D);
}

#logo{
    text-align: center;
    padding: 5px 0;
    font-family: 'Cormorant', serif;
    color:white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    font-size:36px;
    margin:20px 2%;
}

#inputbar{
    display:flex;
    justify-content: center;
}

#userinput{
    text-align: center;
    width:60%;
    height: 30px;
    border-radius: 25px;
    border: none;
}

#enter, .delbut {
    border:none;
    color:#F71D1D;
    background-color: white;
    border-radius: 25px ;
    margin: auto 10px;
    padding:6px 10px;
}

#enter:hover{
    cursor:pointer;
    color:white;
    background-color: #f3a7a7;
}

#container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



